- if page.date
  %footer
    %p.meta
      Publicerad
      - if page.date
        %time(datetime="#{page.date.to_s}" pubdate=true)= format_date(page.date)
      - if (! page.categories.empty?)
        i
        - page.categories.each do |category|
          - if category != page.categories[-1]
            = succeed ',' do
              %a(href="#{url(category.abspath)}")= category.heading
          - else
            %a(href="#{url(category.abspath)}")= category.heading
      - if page.metadata(:author)
        av
        = page.metadata(:author)

